@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-default: #091413;
    --light-text: #fff;
    --light-unimportant-text: hsl(0, 0%, 80%);
    --light-hover: hsla(0, 0%, 100%, 0.500);
    --light-action-color: #686868;
    --light-action-color-hover: hsla(0, 0%, 100%, 0.500);
    --light-dashboard: hsl(0, 0%, 19%);


    --dark-default: hsl(0, 0%, 0%);
    --dark-text: hsl(0, 0%, 100%);
    --dark-unimportant-text: hsl(0, 0%, 80%);
    --dark-hover: hsl(0, 0%, 57%);
    --dark-action-color: hsl(152, 12%, 22%);
    --dark-action-color-hover: hsl(149, 49%, 16%);
    --dark-dashboard: hsl(0, 0%, 19%);
}

body {
    min-height: 100vh;
    font-family: DM Sans;
    background: radial-gradient(ellipse at top, hsl(120, 41%, 20%), hsl(0, 0%, 0%));
    ;
    color: var(--light-text);
}

main {
    display: flex;
    flex-direction: column;
}

.navigation-bar-box {
    display: flex;
    flex-direction: row;
    padding: .5em 1em;
}

.navigation-bar {
    display: flex;
    padding: 1em .5em;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigation-bar a {
    text-decoration: none;
    color: var(--light-text);
    font-weight: bolder;
    font-family: Playfair;
    padding: 14px;
    margin: -.5em .25em;
    font-size: 20px;
    border-radius: 20px;
    transition: background-color .3s ease-in-out;
}

.navigation-bar a:hover {
    background-color: var(--light-hover);
    border-radius: 20px;
}

.navigation-active {
    background-color: var(--light-action-color);
    border-radius: 20px;
}

#navigation-icon {
    transition: background-color .3s ease-in-out;
}

#nav-icons {
    margin: 0em 0em -.5em 0em;
}

#navigation-icon:hover {
    background-color: var(--light-hover);
    border-radius: 20px;
}

.introduction {
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    margin-top: 1em;
}

.dashboard {
    display: grid;
    margin: 2em;
}

.dashboard-box-top {
    display: grid;
    gap: 1em;
    margin: 5em 0em 0em 0em;
    grid-template-columns: 26em 26em;
    grid-template-rows: 25em auto;
}

.dashboard-box-bottom {
    display: grid;
    justify-content: left;
    margin: 1em 1em 0em 0em;
    gap: 1em;
    grid-template-columns: 52em auto auto;
    grid-template-rows: auto auto;
}

.to-do-list {
    background-color: var(--light-dashboard);
    border-radius: 10px;
    padding: 1em;
    grid-column: 1;
    box-shadow: 0px 10px 40px 5px rgba(255, 255, 255, 0.15);
}

.static-container {
    margin-bottom: 1em;
}

.todo-list-container {
    overflow-y: auto;
    height: 16em;
    padding: 0em .5em 0em .5em;
    border-radius: 10px;
    box-shadow: inset 0px 0px 50px 0px rgba(255, 255, 255, 0.20);
}

.todo-list-container::-webkit-scrollbar {
    width: 8px;
}

.todo-list-container::-webkit-scrollbar-thumb {
    background-color: var(--dark-hover);
    border-radius: 20px;
    height: 10px;
}

.todo-list-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-action-color-hover);
    border-radius: 20px;
}

.habit-list-container {
    overflow-y: auto;
    height: 12.5em;
    padding: 0em .5em 0em .5em;
    border-radius: 10px;
    box-shadow: inset 0px 0px 50px 0px rgba(255, 255, 255, 0.20);
}

.habit-list-container::-webkit-scrollbar {
    width: 8px;
}

.habit-list-container::-webkit-scrollbar-thumb {
    background-color: var(--dark-hover);
    border-radius: 20px;
    height: 10px;
}

.habit-list-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-action-color-hover);
    border-radius: 20px;
}

.checkbox-styling {
    appearance: none;
    margin-right: .5em;
    width: 20px;
    height: 20px;
    border: 2px solid #6b7280;
    border-radius: 4px;
    background-color: var(--light-dashboard);
    display: inline-grid;
    place-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
}

.checkbox-styling:checked {
    background-color: var(--light-unimportant-text);
    border-color: #6b7280;
}

.checkbox-styling::before {
    content: "";
    width: 10px;
    height: 6px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg) scale(0);
    transition: transform 0.1s ease-in-out;
    margin-top: -2px;
}

.checkbox-styling:checked::before {
    transform: rotate(-45deg) scale(1);
}

.delete-button {
    display: inline-block;
    background-color: darkred;
    border: none;
    color: var(--light-text);
    cursor: pointer;
    font-size: 1rem;
    margin-left: auto;
    grid-column: 3;
    grid-row: 1;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: rgb(194, 1, 1);
}

.delete-button-checked {
    text-decoration: none;
}

.habit-tracker {
    background-color: var(--light-dashboard);
    border-radius: 10px;
    padding: 1em;
    grid-column: 2;
    box-shadow: 0px 10px 40px 5px rgba(255, 255, 255, 0.15);
}

.habit-styling {
    align-items: center;
    display: flex;
}

.month-styling {
    font-size: .75rem;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    color: var(--dark-unimportant-text);
    display: block;
    width: fit-content;
    margin-right: auto;
}



select,
::picker(select) {
    appearance: base-select;
}

select:open::picker-icon {
    rotate: 180deg;
}

#month-select {
    width: 210px;
    padding: .5em;
    font-size: 1rem;
    color: var(--light-text);
    background-color: var(--light-default);
    border: 1px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s ease;
    width: 250px;
}

option {
    background-color: var(--light-default);
    color: var(--light-text);
    padding: .5em;
    border: 1px solid var(--light-action-color);
}

option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

#year-select {
    background-color: var(--dark-default);
    border: 1px solid white;
    border-radius: 10px;
    width: 105px;
    font-size: 16px;
    padding: .5em;
    margin: 1em 0em 0em 1em;
    color: var(--light-text);
}

option::checkmark {
    content: "";
}

option::-webkit-scrollbar {
    width: 8px;
}

option::-webkit-scrollbar-thumb {
    background-color: var(--dark-hover);
    border-radius: 20px;
    height: 10px;
}

option::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-action-color-hover);
    border-radius: 20px;
}

.notes {
    background-color: var(--light-dashboard);
    border-radius: 10px;
    padding: 1em;
    grid-column: 1 / span 2;
    box-shadow: 0px 10px 40px 5px rgba(255, 255, 255, 0.15);
}

.title {
    font-size: 1.5rem;
    padding-bottom: .75em;
}

#text-box {
    background-color: var(--dark-default);
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    font-size: 16px;
    padding: .75em;
    margin-right: 1em;
    color: var(--light-text);
}

#notes-text-box {
    background-color: var(--dark-default);
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    height: 16em;
    font-size: 16px;
    padding: .75em;
    color: var(--light-text);
}

textarea {
    resize: none;
    vertical-align: top;
}

.button {
    background-color: var(--light-action-color);
    color: var(--light-text);
    padding: .75em;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color .3s ease;
}

.button:hover {
    background-color: var(--light-action-color-hover);
}

.unimportant-text {
    font-size: 16px;
    color: var(--dark-unimportant-text);
    text-align: center;
    margin: 2em 0em 2em 0em;
}

.habit-item-container {
    display: grid;
    gap: .5em;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: .5em;
    border-radius: 10px;
    background-color: var(--dark-default);
    color: var(--light-text);
    margin-bottom: .5em;
    height: auto;
}

.todo-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    border-radius: 10px;
    background-color: var(--dark-default);
    color: var(--light-text);
    margin-bottom: .5em;
}

.todo-item-container-checked {
    background-color: rgb(77, 77, 77);
}

.todo-styling {
    align-items: center;
    display: flex;
}

.todo-styling-checked {
    color: var(--light-unimportant-text);
    text-decoration: line-through solid white;
    text-decoration-thickness: 2px;
}

.todo-styling::-webkit-scrollbar {
    height: 8px;
}

.todo-styling::-webkit-scrollbar-thumb {
    background-color: var(--dark-hover);
    border-radius: 20px;
}

.todo-styling::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-action-color-hover);
    border-radius: 20px;
}

.icons {
    width: 26px;
}